/*#catCard {*/
/*    background-color: red;*/
/*}*/
/*#dogCard {*/
/*    background-color: green;*/
/*}*/
/*#birdCard {*/
/*    background-color: blue;*/
/*}*/
/*#FAQ {*/
/*    background-color: white;*/
/*}*/

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.underlay-text {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 1%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hover-container:hover .underlay-text {
    opacity: 1;
}


.overlay-text {
    opacity: 1;
    transition: opacity 0.5s ease;
    padding: 2%;
}
.hover-container:hover .overlay-text {
    opacity: 0;
}

.navbar .navbar-nav .nav-link, .navbar .navbar-nav .active {
    padding: 1.1em 0.7em;
}
.navbar .navbar-nav .active {
    text-decoration: underline overline;
    text-underline-offset: 0.42em;
}
.navbar .navbar-nav .nav-link:hover {
    background-color: #6699CC;
    transition: background-color 0.5s;
}

.navbar > .navbar-brand, .navbar > button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 100%;
}


.breadcrumb-link {
    text-decoration: none;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}


div > form > .bottomBorder {
    border-bottom: 0.25em dashed lightgrey
}

footer > div > ul > li > a {
    color: white;
}
footer > div > ul > li > a:hover {
    color: #BDBDBD;
    transition: color 0.25s ease-in-out;
}