#q1 {
    background-color: red;
}
#q2 {
    background-color: green;
}
#q3 {
    background-color: blue;
}
#q4 {
    background-color: white;
}

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.overlay-text {*/
/*    display: none;*/
/*}*/
/*.hover-container:hover .overlay-text {*/
/*    display: block;*/
/*}*/