/*#catCard {*/
/*    background-color: red;*/
/*}*/
/*#dogCard {*/
/*    background-color: green;*/
/*}*/
/*#birdCard {*/
/*    background-color: blue;*/
/*}*/
/*#FAQ {*/
/*    background-color: white;*/
/*}*/

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.underlay-text {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 2%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hover-container:hover .underlay-text {
    opacity: 1;
}


.overlay-text {
    opacity: 1;
    transition: opacity 0.5s ease;
    padding: 2%;
}
.hover-container:hover .overlay-text {
    opacity: 0;
}


