/*#q1 {*/
/*    background-color: red;*/
/*}*/
#q2 {
    background-color: green;
}
#q3 {
    background-color: blue;
}
#q4 {
    background-color: white;
}

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text {
    visibility: hidden;
    padding: 2%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hover-container:hover .overlay-text {
    visibility: visible;
}