# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/D279-Project-Proposal-with-Strategies.iml
/jsLibraryMappings.xml
/modules.xml
/vcs.xml
